/*  your css code here. If applicable */
/*  your css code here. If applicable */
body{
	font-family:sans-serif
	text-align: center
}
form{
	display:inline-block
}
#checkbox{
	margin: 5px
}
#existing{
	margin-top:20px
	padding:8px 15px
}